@model BlogApp.Entity.User

@{
    ViewData["Title"] = "User Profile";
}

@section styles {
    <link rel="stylesheet" href="~/css/users/profile.css" />
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-3 text-center mb-4">
            <div class="profile-image-container">
                <img src="~/img/users/@Model.Image" class="profile-image img-fluid" alt="Profile Image">
            </div>
            <h4 class="mt-3">@Model.Name</h4>
            <p>@Model.UserName</p>
            <p>@Model.Email</p>
            <a href="/profile/edit/@User.Identity.Name" class="button-link button-primary">Edit Profile</a>
        </div>

        <div class="col-md-9">
            <div class="bg-white p-4 shadow-sm rounded">
                <h5 class="my-4">Published Posts</h5>
                @if (Model.Posts.Any())
                {
                    <ul class="list-group">
                        @foreach (var post in Model.Posts)
                        {
                            <li class="list-group-item flex-wrap d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="mb-1 text-muted">@post.PublishedOn.ToString("MMMM dd, yyyy")</p>
                                    <strong>@post.Title</strong>
                                    <p class="mb-0 text-muted">@post.Description</p>
                                </div>
                                <div class="btn-group flex-wrap gap-2 justify-content-end align-items-end w-100">
                                    <a href="/posts/edit/@post.PostId" class="button-link button-primary">Edit Page</a>
                                    <a href="/blog/@post.Url" class="button-link button-secondary">Post Page</a>
                                </div>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p class="text-muted">You have no published posts yet.</p>
                }
            </div>
        </div>
    </div>
</div>
