@model Post

@{
    ViewData["Title"] = "Post Details";
    ViewData["Description"] = "Details of the selected post.";
}

@section styles {
    <link rel="stylesheet" href="~/css/post/details.css">
    <link rel="stylesheet" href="~/css/post/index.css">
}

<vc:tags-menu></vc:tags-menu>
<div class="details-main-container">
    <div class="details-container">
        <div class="bg-white p-4" style="border-radius: 2rem;width: 100%;">
            <h1 class="h4 mb-4">@Model.Title</h1>
            
            <div class="tags mb-3 d-flex flex-wrap flex-row justify-content-between">
                <div class="d-flex flex-wrap  flex-column">
                    <div class="d-flex align-items-center gap-1">
                        <h6 class="m-0">Author:</h6><p class="m-0">@Model.User.Name</p>
                    </div>
                    <div class="d-flex align-items-center gap-1">
                        <h6>Tags:</h6>
                        @foreach (var tag in Model.Tags)
                        {
                            <a href="/blog/tag/@tag.Url" class="badge text-bg-@tag.Color.ToString().ToLower() mb-2 fw-bold">@tag.Text</a>
                        }
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-end">
                    <a href="/posts?category=@Model.Category.Url" class="button-link button-primary align-self-end">@Model.Category.Name</a>
                </div>
            </div>
            
            <img src="~/img/posts/@Model.Image" alt="Post Image" class="img-fluid rounded" style="height: 400px; width: 100%; object-fit: cover;">
            
            <div class="post-content mt-3">
                @Model.Content
            </div>
        </div>

        <div class="bg-white mt-3"  style="border-radius: 1rem;overflow: hidden;width: 100%;">
            <div class="card" style="border-radius: 1rem;overflow: hidden;">
                <div class="card-header pb-0">
                    <h4><span id="commentCount">@Model.Comments.Count() comments</span></h4>
                </div>
                <div class="card-body">
                    <div id="comments">
                        @foreach(var comment in Model.Comments){
                            <div class="mt-2 mr-2 d-flex w-100 flex-wrap p-2">
                                <img src="~/img/users/@comment.User.Image" alt="User Avatar" class="avatar rounded-circle float-start me-3 object-fit-contain">
                                <div class="comment-body">
                                    <h6>@comment.User.UserName</h6>
                                    <span>@comment.PublishedOn</span>
                                    <p>@comment.Text</p>
                                </div>
                            </div>
                        }
                    </div>
                    
                    @if(User.Identity!.IsAuthenticated){
                        <hr class="my-4" >
                        <div>
                            <h5 class="mb-3">Add a Comment</h5>
                            <form action="/post/AddComment" id="commentForm" method="post">
                                <input type="hidden" name="PostId" value="@Model.PostId" />
                                <div class="mb-3">
                                    <label for="Text" class="form-label">Comment</label>
                                    <textarea class="form-control" name="Text" id="Text" rows="3" required></textarea>
                                </div>
                                <div class="mb-3 d-flex justify-content-end">
                                    <button type="submit" id="btnYorumKayit" class="button-success">Post Comment</button>
                                </div>
                            </form>
                        </div>
                    } else {
                        <p>To comment, please <a href="/users/login">login</a>.</p>
                    }
                </div>
            </div>
        </div>
    </div>
    
    <div class="side-content">
        <vc:new-posts></vc:new-posts>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnYorumKayit").click(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddComment")',
                    dataType: 'json',
                    data: {
                        PostId: $('input[name="PostId"]').val(),
                        Text: $('#Text').val(),
                    },
                    success: function (comment) {
                        console.log(comment)
                        if (comment && comment.username && comment.text && comment.publishedOn  && comment.avatar) {
                            var date = new Date(comment.publishedOn );
                            const pad = (n) => n.toString().padStart(2, '0');

                            const day = pad(date.getDate());
                            const month = pad(date.getMonth() + 1);
                            const year = date.getFullYear();
                            const hours = pad(date.getHours());
                            const minutes = pad(date.getMinutes());
                            const seconds = pad(date.getSeconds());

                            $("#comments").append(`
                                <div class="mt-2 mr-2 d-flex w-100 flex-wrap p-2">
                                    <img src="/img/users/${comment.avatar}" class="avatar rounded-circle float-start me-3 object-fit-contain" alt="User Avatar">
                                    <div class="comment-body">
                                        <h6>${comment.username}</h6>
                                        <span>${day}.${month}.${year} ${hours}:${minutes}:${seconds}</span>
                                        <p>${comment.text}</p>
                                    </div>
                                </div>
                            `);
                            
                            $("#Text").val('');
                            var count = parseInt($("#commentCount").text());
                            $("#commentCount").text(count + 1);
                        } else {
                            console.log("Invalid response data:", comment);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error during AJAX request:", error);
                    }
                });
                return false;
            })
        });
    </script>
}
