@model BlogApp.Models.PostViewModel

@section styles{
    <link rel="stylesheet" href="~/css/Post/index.css">
}

<div class="post-main-container">
    <div class="content-container">
        <h1 class="align-self-start p-2 mb-4">Popular Posts</h1>
        <div class="post-content">
        @foreach(var post in Model.Posts)
        {
            <div class="post-card">
                <div class="post-image-container">
                    <img src="~/img/@post.Image" alt="">
                </div>  
                <div class="post-body">
                    <h5><a href="/blog/@post.Url" class="post-link">@post.Title</a></h5>
                    <p class="post-desc">@post.Description</p>
                    <div class="tags-container">
                        @if (Model.PostTags.ContainsKey(post.PostId))
                        {
                            foreach (var tag in Model.PostTags[post.PostId].Take(2))
                            {
                                <a href="/blog/tag/@tag.Url" class="tag">@tag.Text</a>
                            }
                        }
                    </div>
                </div>
            </div>
        }
        </div>

        <nav>
            <ul class="pagination">
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                        <a class="page-link" href="?page=@i">@i</a>
                    </li>
                }
            </ul>
        </nav>
    </div>

    <div class="side-content">
        <vc:tags-menu></vc:tags-menu>
        <vc:new-posts></vc:new-posts>
    </div>
</div>
